{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Charts from Input {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css' %}">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">

                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <!-- [ Morris Chart ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Simple Bar Chart - Information is loaded from a Database Table</h5>
                                </div>
                                <div class="card-block">

                                    <!-- DIV injected with Dynamic content -->
                                    <div id="morris-bar-chart" style="height:300px"></div>
                                    <!-- DIV End -->

                                </div>
                            </div>
                        </div>
                        <!-- [ Morris Chart ] end -->

                        <!-- HELP Section start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>HELP</h5>
                                </div>
                                <div class="card-block">

<p>
    Above chart is loaded from STATS table. 
    <br />
    {% if user.is_superuser %}
        To update the charts, please update the <a target="_blank" href="/admin/app/stats/">STATS</a> table information and refresh the page.
    {% else %}
        To update the charts, please authenticate as admin, update the STATS table information and refresh the page.
        <br />
        Note: Admin account can be created using the <strong>createsuperuser</strong> command.
    {% endif %}
</p>

<br />
<h5>The Routing Settings</h5>
<hr />
<p>
    This page has a simple rule defined in the 
    <a target="_blank" href="https://github.com/app-generator/django-simple-charts/blob/master/app/urls.py">app/urls.py</a> file:
<br />
<pre>
<code class="python">
# Contents of file: app/urls.py

urlpatterns = [
...
    # Charts from Input
    path('charts-input' , views.charts_input, name='charts-input' ),
...
]
</code>
</pre>

<br />
<h5>Render Flow</h5>
<hr />
<p>
The code that render this page use the information from STATS table.
<br />
The <a target="_blank" 
        href="https://github.com/app-generator/django-simple-charts/blob/master/app/models.py">model</a>
comes with a inner method that selects all rows: <strong>get_report()</strong>. 
<br />
Once the STATS rows are selected, controller read the page template and inject the information.   
<br />
<br />
Source: <a target="_blank" href="https://github.com/app-generator/django-simple-charts/blob/master/app/views.py">app/views.py</a> 
- <strong>charts_input()</strong>:
<br />
<pre>
<code class="python">
# Partial content from file: app/views.py
def charts_input(request):
    context = {'segment': 'charts_from_input'}
    html_template = loader.get_template('charts-from-input.html')

    stats, labels = Stats.get_report()
    data = [
        {
            'y': year,
            'a': '{:.2f}'.format( stats[year].get('prod1_sales') ), 
            'b': '{:.2f}'.format( stats[year].get('prod2_sales') ), 
            'c': '{:.2f}'.format( stats[year].get('prod3_sales') )  
        } for year in stats
    ]

    context['chart_data'] = json.dumps({
        'element': 'morris-bar-chart',
        'data': data,
        'xkey': 'y',
        'barSizeRatio': 0.70,
        'barGap': 3,
        'resize': True,
        'responsive': True,
        'ykeys': ['a', 'b', 'c'],  # it can be custom
        'labels': labels,
        'barColors': ['0-#1de9b6-#1dc4e9', '0-#899FD4-#A389D4', '#04a9f5']  # it can be custom
    })

    return HttpResponse(html_template.render(context, request))
</code>
</pre>

<br />
<h5>Database Model - STATS</h5>
<hr />
<p>
The <a target="_blank" 
        href="https://github.com/app-generator/django-simple-charts/blob/master/app/models.py">model</a>
comes with a inner method that selects all rows: <strong>get_report()</strong>. 
<br />
<br />
<pre>
<code class="python">
class Stats(models.Model):
    
    year        = models.IntegerField(_('year')           , db_index=True)
    prod1_sales = models.IntegerField(_('product 1 sales'), db_index=True)
    prod2_sales = models.IntegerField(_('product 2 sales'), db_index=True)
    prod3_sales = models.IntegerField(_('product 3 sales'), db_index=True)

    class Meta:
        verbose_name = _('statistic')
        verbose_name_plural = _('stats')

    @classmethod
    def get_report(cls):

        data   = {}
        labels = ['prod1_sales', 'prod2_sales', 'prod3_sales']

        stats = Stats.objects.order_by('year').values()

        for line in stats:

            if line['year'] not in data:
                data[line['year']] = {}

            data[ line['year'] ]['prod1_sales'] = line['prod1_sales']
            data[ line['year'] ]['prod2_sales'] = line['prod2_sales']
            data[ line['year'] ]['prod3_sales'] = line['prod3_sales']

        return data, labels
</code>
</pre>

<br />
<h5>HTML File</h5>
<hr />
<p>
    The chart data is rendered using <a target="_blank" href="https://morrisjs.github.io/morris.js/">Morris JS</a>, 
    a popular open-source chart library.  
    <br />
    The source file 
    <a target="_blank" 
       href="https://github.com/app-generator/django-simple-charts/blob/master/core/templates/charts-from-input.html">core/templates/charts-from-input.html</a>.
</p>
                                </div>
                            </div>
                        </div>
                        <!-- HELP Section END -->

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/plugins/chart-morris/js/raphael.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-morris/js/morris.min.js' %}"></script>
    <script src="{% static 'app_assets/js/scripts.js' %}"></script>
    <script>
        SetChartBar({{ chart_data|safe }});
    </script>
{% endblock javascripts %}
